<!DOCTYPE html>
<html ng-app="nameApp">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../Scripts/angular.min.js"></script>
    <script type="text/javascript">
        var nameApp = angular.module("nameApp", []);
        nameApp.controller("nameController",
            function($scope) {
                $scope.firstName = "Kugan";
                $scope.$watch('lastName', function (newValue, oldValue) {
                    console.log(newValue);
                });
               setTimeout(function () {
                    $scope.lastName = 'Smith';
                    $scope.$apply();
                }, 1000);

            });
    </script>
</head>
<body ng-controller="nameController">
    First Name : <input type="text" ng-model="firstName" /><br />
    Last Name : <input type="text" ng-model="lastName" /><br />
    Hello {{firstName}} , {{lastName}}
</body>
</html>
